@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Share+Tech+Mono&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  color: e7e7e7;
  background-color: #131313;
  color: white;
}

a {
  text-decoration: none;
  color: #039b9b;
}

a:hover {
  color: #bd4800;
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.nav-logo {
  width: 7rem;
  opacity: 0.8;
}

.burger-menu-icon {
  cursor: pointer;
  z-index: 99;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(55, 55, 55, 0.5);
  padding: 1.5rem;
  border-radius: 0% 0% 0% 40%;
}

.line1 {
  width: 17px;
  height: 3px;
  margin: 5px 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: linear-gradient(135deg, #f9690e 0%, white 100%);
}

.line2 {
  width: 30px;
  height: 3px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: linear-gradient(135deg, white 0%, #f9690e 100%);
}

.line3 {
  width: 17px;
  height: 3px;
  margin: 5px 0px 0px 15px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background: linear-gradient(135deg, #f9690e 0%, white 100%);
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: -26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: 10;
  -webkit-transition: all 650ms ease-in-out;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
}

.nav-link {
  opacity: 1;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: #f9690e;
}

.burger-rotate {
  background: none;
}

.burger-rotate .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
          transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burger-rotate .line2 {
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burger-rotate .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
          transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@-webkit-keyframes navLinkAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navLinkAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.landing-page {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%), url("../resources/landing-page.png") center no-repeat;
  background-size: contain;
  position: relative;
}

.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 0.9rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typing 5s steps(27), blinking 1s ease-in-out 7s infinite;
          animation: typing 5s steps(27), blinking 1s ease-in-out 7s infinite;
  width: 27ch;
  margin: auto;
  border-right: 4px solid white;
}

.main-message h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: #f9690e;
  background: -webkit-gradient(linear, left top, right top, from(#f9690e), to(rebeccapurple));
  background: linear-gradient(to right, #f9690e 0%, rebeccapurple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-message p {
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 400;
}

@-webkit-keyframes typing {
  75% {
    width: 0ch;
    color: #f9690e;
  }
  100% {
    width: 27ch;
  }
}

@keyframes typing {
  75% {
    width: 0ch;
    color: #f9690e;
  }
  100% {
    width: 27ch;
  }
}

@-webkit-keyframes blinking {
  from {
    border-right: rgba(255, 255, 255, 0);
  }
  to {
    border-right: 4px solid #c2c2c2;
  }
}

@keyframes blinking {
  from {
    border-right: rgba(255, 255, 255, 0);
  }
  to {
    border-right: 4px solid #c2c2c2;
  }
}

.intro-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  color: white;
  margin: 0 9px;
  background: #039b9b;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  -webkit-transition: background-color 600ms;
  transition: background-color 600ms;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background-color: #bd4800;
}

.scroll-down i {
  color: #fafafa;
  -webkit-transition: color 600ms;
  transition: color 600ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: #bd4800;
}

.about {
  padding-top: 2rem;
  width: 100%;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

.about-img img {
  height: 15rem;
  width: auto;
  border-radius: 50%;
  margin: 2rem;
  -webkit-box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
          box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.15);
}

.about-text-box {
  margin: 15px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.about-text-box h2 {
  font-size: 4rem;
  margin: 2rem 0 3.5rem 0;
  font-size: 4rem;
  color: #f9690e;
  background: -webkit-gradient(linear, left top, right top, from(rebeccapurple), color-stop(25%, #f9690e));
  background: linear-gradient(to right, rebeccapurple 0%, #f9690e 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 2.5rem;
  color: whitesmoke;
  letter-spacing: 1px;
  font-weight: bold;
}

hr {
  margin: 4rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rebeccapurple), to(#f9690e));
  background: linear-gradient(to right, rebeccapurple 0%, #f9690e 100%);
  border: 0;
  border-radius: 4px;
  height: 4px;
}

.services {
  padding-top: 4rem;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}

.title-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;
}

.service-tiers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}

.tier-item {
  height: 30rem;
  padding: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
}

.tier-item i {
  font-size: 3.5rem;
}

.tier-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#f9690e), to(rebeccapurple));
  background: linear-gradient(to right, #f9690e 0%, rebeccapurple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.projects {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-img img {
  border: rgba(0, 64, 77, 0.9) solid 5px;
  border-radius: 15px;
}

.project-description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-description h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#f9690e), to(rebeccapurple));
  background: linear-gradient(to right, #f9690e 0%, rebeccapurple 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}

.contact {
  width: 100%;
  min-height: 25vh;
  max-width: 70rem;
  margin: auto;
}

.contact .container {
  min-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;
  font-weight: bold;
}

footer {
  width: 100%;
  max-width: 70rem;
  min-height: 25vh;
  margin: auto;
  padding: 2.5rem 0;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer a {
  margin: 0 0.2rem;
}

.footer-coded-by {
  margin: 2rem 0;
}
/*# sourceMappingURL=style.css.map */